<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/site.css">
  </head>
  <body>
    <header>
      <nav></nav>
    </header>
    <div role="main">
      <%= yield %>
    </div>
    <footer></footer>
    <script src="/js/site.js"></script>
  </body>
</html>
